.slider {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.slider-button {
    height: 100%;
    width: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: transparent;
    cursor: pointer;
    transition: all 1s;
    user-select: none;
}

.slider-button:hover {
    background-color: rgba(216, 112, 147, 0.534);
    color: #fff;
}

#proximo {
    right: 0;
}

.slider-item-container {
    background-color: lightsalmon;
    height: 100%;
    display: flex;
}

.slider-item {
    background-color: rosybrown;
    height: 100%;
    width: 50vw;
    transition: all 1s;
}

.slider-item:first-child {
    margin-left: -50vw;

}

.slider-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}